<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>r/<%= name %></title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <h1 class="subreddit__title"><%= description %></h1>
        <p class="subreddit__name">r/<%= name %></p>
        <p class="subreddit__subscribers">
            <%= subscribers %> total subscribers
        </p>
        <hr />
        <section class="subreddit__posts">
            <% posts.forEach((post) => { %>
            <article class="subreddit__post">
                <p class="subreddit__post-author">
                    Posted by u/<%= post.author %>
                </p>
                <h1 class="subreddit__post-title"><%= post.title %></h1>
                <% if (post.img) { %>
                <img class="subreddit__post-img" src="<%= post.img%>" alt="" />
                <% } %>
            </article>
            <% }) %>
        </section>
        <script src="/js/app.js"></script>
    </body>
</html>
