<!DOCTYPE html>
<html lang="en">
    <%- include('header.ejs') %>
    <body>
        <%- include('nav.ejs') %>
        <main class="main">
            <section class="s-listing-page">
                <div class="c-listing-page">
                    <header class="listing-page__header">
                        <h1 class="listing-page__name"><%= listing.name %></h1>
                        <div class="listing__info">
                            <% if (listing['reviews'].length > 0) { %>
                            <a href="#reviews"
                                ><%= listing['reviews'].length %> reviews</a
                            >
                            · <% } %>
                            <a href="#map"><%= listing.address %> </a>
                        </div>
                    </header>
                    <div class="listing-page__imgs">
                        <img src="<%= listing.image %>" alt="" />
                    </div>
                    <div class="listing-page__details">
                        <p class="listing-page__host">
                            <%= listing.category %> Hosted by <%= listing.host
                            %>
                        </p>
                        <p class="listing-page__description">
                            <%= listing.description %>
                        </p>
                    </div>
                    <section class="reviews" id="reviews">
                        <% if (listing['reviews'].length > 0) { %>
                        <header class="reviews__header">
                            <h2 class="reviews__title">
                                <%= listing['reviews'].length %> reviews
                            </h2>
                            <% if (currentUser.length > 0) { %>
                            <a class="reviews__write-link" href="#add-review"
                                >Write a review</a
                            >
                            <% } %>
                        </header>
                        <div class="c-reviews">
                            <% for (let review of listing.reviews) { %>
                            <article class="review">
                                <header class="review__header">
                                    <img
                                        class="review__user-img"
                                        src="https://a0.muscache.com/im/pictures/user/17557aa1-3e45-4e99-a275-bb69ab79fa43.jpg?im_w=240"
                                    />
                                    <p class="review__user">
                                        <%= review.username %>
                                    </p>
                                </header>
                                <p class="review__review">
                                    <%= review.review %>
                                </p>
                            </article>
                            <% } %> <% if (currentUser.length > 0) { %>
                            <section class="add-review" id="add-review">
                                <h3 class="add-review__title">
                                    Write a review
                                </h3>
                                <form
                                    class="add-review-form"
                                    id="review-form"
                                    action="/listings/<%= listing.id %>"
                                    method="POST"
                                >
                                    <textarea
                                        class="add-review-form__textarea"
                                        name="review"
                                        cols="30"
                                        rows="10"
                                    ></textarea>
                                    <button
                                        class="add-review-form__submit-btn"
                                        type="submit"
                                    >
                                        Add review
                                    </button>
                                </form>
                            </section>
                            <% } %>
                        </div>
                        <% } else { %>
                        <h2 class="reviews__title">No reviews (yet)</h2>
                        <div class="reviews__notice">
                            <div class="reviews__notice-icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 32 32"
                                    style="
                                        display: block;
                                        height: 24px;
                                        width: 24px;
                                        fill: currentcolor;
                                    "
                                    aria-hidden="true"
                                    role="presentation"
                                    focusable="false"
                                >
                                    <path
                                        d="M16 1c8.284 0 15 6.716 15 15 0 8.284-6.716 15-15 15-8.284 0-15-6.716-15-15C1 7.716 7.716 1 16 1zm4.398 21.001h-8.796C12.488 26.177 14.23 29 16 29c1.77 0 3.512-2.823 4.398-6.999zm-10.845 0H4.465a13.039 13.039 0 0 0 7.472 6.351c-1.062-1.58-1.883-3.782-2.384-6.351zm17.982 0h-5.088c-.5 2.57-1.322 4.77-2.384 6.352A13.042 13.042 0 0 0 27.535 22zM9.238 12H3.627A12.99 12.99 0 0 0 3 16c0 1.396.22 2.74.627 4h5.61A33.063 33.063 0 0 1 9 16c0-1.383.082-2.724.238-4zm11.502 0h-9.482A30.454 30.454 0 0 0 11 16c0 1.4.092 2.743.26 4.001h9.48C20.908 18.743 21 17.4 21 16a30.31 30.31 0 0 0-.26-4zm7.632 0h-5.61c.155 1.276.237 2.617.237 4s-.082 2.725-.238 4h5.61A12.99 12.99 0 0 0 29 16c0-1.396-.22-2.74-.627-4zM11.937 3.647l-.046.016A13.04 13.04 0 0 0 4.464 10h5.089c.5-2.57 1.322-4.77 2.384-6.353zM16 3l-.129.005c-1.725.133-3.405 2.92-4.269 6.995h8.796C19.512 5.824 17.77 3 16 3zm4.063.648l.037.055C21.144 5.28 21.952 7.46 22.447 10h5.089a13.039 13.039 0 0 0-7.473-6.352z"
                                    ></path>
                                </svg>
                            </div>
                            <p class="reviews__notice-copy">
                                We’re here to help your trip go smoothly. Every
                                reservation is covered by Airbnb’s Guest Refund
                                Policy.
                            </p>
                        </div>
                        <% } %>
                    </section>
                    <section class="map">
                        <h2 class="map__title">Where you'll be</h2>
                    </section>
                </div>
            </section>
        </main>
    </body>
</html>
