<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Comment Details</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <main class="main">
            <section class="comment-details">
                <h1>Comment Details</h1>
                <p>Comment ID: <%= comment.id %></p>
                <p>Posted By: <%= comment.username %></p>
                <p>Comment: <%= comment.comment %></p>
            </section>
            <div class="action-btns">
                <a class="link-btn" href="/comments/<%= comment.id %>/edit"
                    >Edit Comment</a
                >

                <form
                    action="/comments/<%= comment.id %>?_method=DELETE"
                    method="post"
                >
                    <button class="submit-btn" type="submit">
                        Delete Comment
                    </button>
                </form>
            </div>
            <a class="link-btn" href="/comments">View all comments</a>
        </main>
    </body>
</html>
